[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an %ae>%Creset
[user]
	name = dms449
	email = stevensondm23@gmail.com
[core]
	editor = nvim
[credential]
	helper = cache --timeout=43200
[branch]
	autosetuprebase = always
[push]
  default = current
[rebase]
  autostash = true
  autosquash = true
[pull]
	rebase = true
[alias]
  l = log --graph --abbrev-commit --date=relative
  short-log = log --pretty=format:'%C(yellow)%h%Creset %s'
