snippet newcomp
<template>

</template>



<script>
export default {
  name: '$1',
}


</script>



<style>

</style>

endsnippet


snippet data
data() {
	return {
		$1: $2
	}
}
endsnippet

snippet methods
methods:  {
	$1($2) {
		$3
	}
}
endsnippet

